@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/alphacentauri");
#menu {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 1rem;
  box-sizing: border-box;
  z-index: 300;
}
#menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#menu .container .container__logo {
  position: relative;
  top: -100%;
}
#menu .container .container__logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
}
#menu .container .container__logo div .title {
  font-size: 2rem;
  margin: 0;
}
#menu .container .container__logo div .subtitle {
  font-size: 0.4rem;
  margin: 0;
}
#menu .container .container__links .bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
}
#menu .container .container__links .links {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: #0466C8;
  width: 60%;
  height: 100vh;
  transition: right 0.4s ease-in-out;
}
#menu .container .container__links .links #button__xmark {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}
#menu .container .container__links .links #button__xmark:hover {
  color: rgb(255, 0, 0);
}
#menu .container .container__links .links .links__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#menu .container .container__links .links .links__list li {
  width: 100%;
}
#menu .container .container__links .links .links__list li a {
  text-align: center;
  padding: 1.5rem;
  display: block;
  text-decoration: none;
  color: #ffffff;
}
#menu .container .container__links .links .links__list li a:hover {
  background-color: rgba(0, 0, 0, 0.65);
}
#menu .container .container__links .links .links__list li .dropdown {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
#menu .container .container__links .links .links__list li .dropdown .button {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#menu .container .container__links .links .links__list li .dropdown .button p {
  padding: 1.5rem 0;
  padding-right: 0.8rem;
  display: block;
  margin: 0;
}
#menu .container .container__links .links .links__list li .dropdown ul {
  width: 100%;
  height: 100%;
  max-height: 0;
  overflow-y: hidden;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #001845;
  transition: all 0.4s ease-in-out;
}
#menu .container .container__links .links .links__list li .dropdown:hover ul {
  max-height: 400px;
}
#menu .container #button__bars {
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}
#menu.active .container__links .bg {
  display: block;
}
#menu.active .container__links .links {
  right: 0;
}
#menu.bg__dark, #menu.bg__dark--fixed {
  background-color: rgba(0, 0, 0, 0.65);
}
#menu.bg__dark .container__logo, #menu.bg__dark--fixed .container__logo {
  top: 0;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) {
  #menu {
    height: 70px;
  }
  #menu .container .container__logo div .title {
    font-size: 2.5rem;
  }
  #menu .container .container__logo div .subtitle {
    font-size: 0.5rem;
  }
  #menu .container .container__links {
    justify-content: flex-end;
  }
  #menu .container .container__links .bg {
    display: none;
  }
  #menu .container .container__links .links {
    right: 0;
    position: relative;
    background-color: transparent;
    width: fit-content;
    height: 100%;
  }
  #menu .container .container__links .links .links__list {
    flex-direction: row;
  }
  #menu .container .container__links .links .links__list li {
    width: fit-content;
  }
  #menu .container .container__links .links .links__list li a {
    padding: 0;
    margin: 0 1rem;
  }
  #menu .container .container__links .links .links__list li a:hover {
    text-decoration: underline;
    background-color: transparent;
  }
  #menu .container .container__links .links .links__list li .dropdown {
    width: 100%;
    position: relative;
  }
  #menu .container .container__links .links .links__list li .dropdown .button {
    width: fit-content;
    margin: 0 1rem;
  }
  #menu .container .container__links .links .links__list li .dropdown ul {
    top: 108%;
    left: 0;
    position: absolute;
    height: 150px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.65);
  }
  #menu .container .container__links .links .links__list li .dropdown ul li {
    width: 100%;
  }
  #menu .container .container__links .links .links__list li .dropdown ul li a {
    padding: 0.5rem 0;
  }
  #menu .container #button__bars {
    display: none;
  }
  #menu .container #button__xmark {
    display: none;
  }
}

#header {
  width: 100%;
  height: 300px;
  background-image: url("../../img/img-civita-header01.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 260px;
}
#header .body {
  width: 100%;
  background-color: #001845;
  position: relative;
  bottom: -210px;
  height: 350px;
}
#header .body .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  padding: 3rem 1rem;
}
#header .body .text .title {
  font-size: 5rem;
  margin: 0;
  font-family: "AlphaCentauri", sans-serif;
  letter-spacing: 10px;
  line-height: normal;
}
#header .body .text .title strong {
  font-weight: 400;
}
#header .body .text .subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
#header .body .text .subtitle span {
  color: #0466C8;
  font-weight: 600;
}
#header .body .text h1 {
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
}
#header .body .text a {
  background-color: #0466C8;
  color: #ffffff;
  padding: 1rem 0;
  border: none;
  width: 150px;
  text-align: center;
  text-decoration: none;
}
#header .body .text a:hover {
  background-color: rgba(0, 0, 0, 0.65);
}
@media (min-width: 768px) {
  #header {
    height: 500px;
    margin-bottom: 0px;
  }
  #header .body {
    width: 50%;
    bottom: 0;
    height: 500px;
  }
  #header .body .text {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    max-width: 496px;
    margin-left: auto;
    align-items: flex-start;
    padding-right: 5rem;
  }
  #header .body .text .title {
    font-size: 5rem;
  }
  #header .body .text h1 {
    text-align: start;
  }
}

#nosotros {
  background-color: #DCDFE5;
  position: relative;
}
#nosotros .content {
  width: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/nosotros_bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem 1rem;
}
#nosotros .content .title {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
}
#nosotros .content .body {
  width: auto;
  background-color: #001845;
  color: #ffffff;
  padding: 2rem 1rem;
  transition: transform 0.4s ease-in-out;
}
#nosotros .content .body div {
  text-align: start;
  margin-bottom: 2rem;
}
#nosotros .content .body div p {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}
#nosotros .content .body div h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: #DCDFE5;
  line-height: 150%;
}
#nosotros .content .body div:nth-of-type(2) {
  text-align: end;
}
#nosotros .content .body div:nth-of-type(4) {
  margin-bottom: 3rem;
  text-align: end;
}
#nosotros .content .body div:nth-of-type(5) {
  margin-bottom: 0;
  text-align: end;
}
#nosotros .content .body div a {
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  padding: 1rem;
  text-align: center;
  display: block;
  transition: all 0.2s;
}
#nosotros .content .body div a:hover {
  background: #000000;
  color: #ffffff;
}
#nosotros .content .img__container {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 110%;
  display: none;
}
#nosotros .content .img__container img {
  width: 100%;
  height: 260px;
}
#nosotros .content .img__container img:nth-of-type(1) {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #nosotros {
    margin-top: 0px;
  }
  #nosotros .container {
    padding-top: 230px;
    padding-bottom: 100px;
    max-width: 992px;
    width: 100%;
    margin: auto;
  }
  #nosotros .container .content {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #nosotros .container .content .title {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    color: #000000;
    font-size: 3rem;
    z-index: 200;
  }
  #nosotros .container .content .title span {
    color: #0466C8;
  }
  #nosotros .container .content .body {
    width: 320px;
    box-sizing: border-box;
    position: relative;
  }
  #nosotros .container .content .body div p {
    font-size: 2rem;
  }
  #nosotros .container .content .img__container {
    display: block;
  }
}
@media (min-width: 810px) {
  #nosotros .container .content {
    width: 70%;
  }
}

#modelos {
  background-color: #ffffff;
  overflow-x: hidden;
}
#modelos .container {
  padding: 3rem 1rem;
  width: auto;
}
#modelos .container h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 5rem;
}
#modelos .container h2 span {
  color: #0466C8;
}
#modelos .container .modelos__list {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#modelos .container .modelos__list .modelo__card {
  background-color: #001845;
  padding: 2rem 1rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
#modelos .container .modelos__list .modelo__card .body .modelo__number {
  box-sizing: border-box;
  width: 100px;
  height: 80px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #ABABAB;
  margin-bottom: 1.5rem;
}
#modelos .container .modelos__list .modelo__card .body .modelo__text h3 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1.5rem;
}
#modelos .container .modelos__list .modelo__card .body .modelo__text h4 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 1.5rem;
  color: #DCDFE5;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas {
  margin-bottom: 2rem;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div:first-child {
  width: 80%;
  justify-items: start;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div:last-child {
  width: 20%;
  justify-items: end;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div .name {
  font-size: 1.3rem;
  margin: 0;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div .value {
  font-size: 1.3rem;
  font-weight: 300;
  color: #DCDFE5;
  margin: 0;
}
#modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row div .value.price {
  color: #00B912;
  font-weight: 400;
}
#modelos .container .modelos__list .modelo__card .body a {
  display: none;
}
#modelos .container .modelos__list .modelo__card .card__img img {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 1rem;
  border: 15px solid #2F2F2F;
}
#modelos .container .modelos__list .modelo__card .card__img a {
  width: 100%;
  font-size: 1.3rem;
  color: #ffffff;
  background-color: #2F2F2F;
  border: none;
  padding: 1rem 0;
  text-decoration: none;
  display: block;
  text-align: center;
}
#modelos .container .modelos__list .modelo__card .card__img a:hover {
  background-color: #0466C8;
}
@media (min-width: 768px) {
  #modelos .container {
    padding: 100px 1rem;
  }
  #modelos .container h4 {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  #modelos .container h4 span {
    color: #0466C8;
  }
  #modelos .container .modelos__list .modelo__card {
    margin-bottom: 6rem;
    gap: 1rem;
    flex-direction: row-reverse;
    padding: 2rem 5rem 5rem;
  }
  #modelos .container .modelos__list .modelo__card .body {
    width: 65%;
  }
  #modelos .container .modelos__list .modelo__card .body .modelo__number {
    font-size: 2.5rem;
    width: 120px;
    height: 90px;
    margin-bottom: 2rem;
  }
  #modelos .container .modelos__list .modelo__card .body .modelo__text h5 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  #modelos .container .modelos__list .modelo__card .body .modelo__text p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  #modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas {
    margin-bottom: 5rem;
  }
  #modelos .container .modelos__list .modelo__card .body .modelo__caracteristicas .caracteristicas__row {
    margin-bottom: 2rem;
  }
  #modelos .container .modelos__list .modelo__card .body a {
    width: 100%;
    font-size: 1.3rem;
    color: #ffffff;
    background-color: #2F2F2F;
    border: none;
    padding: 1rem 0;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  #modelos .container .modelos__list .modelo__card .body a:hover {
    background-color: #0466C8;
  }
  #modelos .container .modelos__list .modelo__card .card__img {
    position: relative;
    width: 100%;
    height: 500px;
  }
  #modelos .container .modelos__list .modelo__card .card__img img {
    position: absolute;
    height: 600px;
    top: -98px;
    left: 0;
    border: 20px solid #ffffff;
    object-fit: cover;
    object-position: 50% 50%;
    margin: 0;
    transition: border 0.5s ease;
  }
  #modelos .container .modelos__list .modelo__card .card__img img:hover {
    border: 5px solid #ffffff;
  }
  #modelos .container .modelos__list .modelo__card .card__img a {
    display: none;
  }
}

#interiores {
  background-color: #DCDFE5;
  padding: 3rem 1rem;
}
#interiores .container h5 {
  font-size: 2rem;
  text-align: center;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}
#interiores .container .body {
  width: auto;
}
#interiores .container .body .swiper {
  width: auto;
}
#interiores .container .body .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}
#interiores .container .body .swiper .swiper-slide div {
  height: 270px;
  width: 100%;
}
#interiores .container .body .swiper .swiper-slide div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#interiores .container .body .swiper .swiper-slide h6 {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  #interiores {
    padding: 5rem 1rem;
  }
  #interiores .container h5 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
  #interiores .container .body {
    width: auto;
  }
  #interiores .container .body .swiper .swiper-slide {
    height: 510px;
  }
  #interiores .container .body .swiper .swiper-slide div {
    height: 400px;
  }
}

#media {
  position: relative;
}
#media #fixed__media {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 0;
  background-color: #25D366;
  border-top-left-radius: 40%;
  border-bottom-left-radius: 40%;
  z-index: 200;
}
#media #fixed__media .icono {
  color: #ffffff;
  padding: 1rem;
  padding-right: 2rem;
  font-size: 2rem;
  animation-name: whatsapp;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
#media #fixed__media:hover .icono {
  padding-right: 3rem;
}
@media (min-width: 768px) {
  #media #fixed__media {
    bottom: 5rem;
  }
  #media #fixed__media .icono {
    font-size: 2.6rem;
    padding: 1.5rem;
    padding-right: 4rem;
  }
}
@keyframes whatsapp {
  0% {
    padding-right: 2rem;
  }
  10% {
    padding-right: 2rem;
  }
  20% {
    padding-right: 2rem;
  }
  30% {
    padding-right: 2rem;
  }
  40% {
    padding-right: 2rem;
  }
  50% {
    padding-right: 3rem;
  }
  60% {
    padding-right: 2rem;
  }
  70% {
    padding-right: 2rem;
  }
  80% {
    padding-right: 2rem;
  }
  90% {
    padding-right: 2rem;
  }
  100% {
    padding-right: 2rem;
  }
}
#media .container {
  position: fixed;
  right: -100%;
  z-index: 410;
  transition: right 0.4s ease-in-out;
}
#media .container .xmark {
  padding: 1rem;
  font-size: 2rem;
  color: #b92020;
  display: none;
}
#media .container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: auto;
  height: calc(100% - 56px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1rem;
  display: none;
}
#media .container ul li {
  width: 100%;
}
#media .container ul li .button {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 0.5rem 0;
  box-sizing: border-box;
  text-decoration: none;
}
#media .container ul li .button:hover {
  filter: brightness(110%);
}
#media .container ul li:nth-of-type(1) .button {
  background-color: #25D366;
  border-radius: 5px;
  color: #ffffff;
}
#media .container ul li:nth-of-type(2) .button {
  background-color: #b92020;
  border-radius: 5px;
  color: #ffffff;
}
#media .container ul li:nth-of-type(3) .button {
  background-color: #C13584;
  border-radius: 5px;
  color: #ffffff;
}
#media .bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
  z-index: 400;
  display: none;
}
#media.active .container {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 100vh;
  background-color: #DCDFE5;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
#media.active .container .icono {
  display: none;
}
#media.active .container .xmark {
  display: block;
}
#media.active .container ul {
  display: flex;
}
#media.active .bg {
  display: block;
}

#footer {
  background-color: #000000;
}
#footer .container {
  padding: 3rem 1rem;
  color: #ffffff;
  width: auto;
}
#footer .container h6 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  margin-bottom: 3rem;
}
#footer .container .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#footer .container .content .enlaces {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}
#footer .container .content .enlaces .title {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}
#footer .container .content .enlaces .link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
#footer .container .content .enlaces .link div {
  width: 10px;
  height: 2px;
  background-color: #ffffff;
  margin-right: 0.5rem;
}
#footer .container .content .enlaces .link a {
  font-size: 1rem;
  margin: 0;
  color: #ffffff;
  text-decoration: none;
}
#footer .container .content .enlaces .link a:hover {
  text-decoration: underline;
}
#footer .container .content .map {
  width: 100%;
  height: 250px;
}
#footer .container .media ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin: 2rem 0;
}
#footer .container .media ul li {
  padding: 0.5rem 0;
  width: auto;
}
#footer .container .media ul li a {
  display: grid;
  grid-template-columns: 30px 1fr;
  justify-items: start;
  align-items: center;
  color: #DCDFE5;
  font-size: 1rem;
  text-decoration: none;
}
#footer .container .media ul li a:hover {
  text-decoration: underline;
}
@media (min-width: 768px) {
  #footer .container .content {
    flex-direction: row;
  }
  #footer .container .content .enlaces {
    align-items: flex-start;
  }
  #footer .container .content .map {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
  }
  #footer .container .content .map .mapouter {
    width: 60%;
  }
  #footer .container .media ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

#modelo__header {
  height: 400px;
  width: 100%;
}
#modelo__header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imgOpen {
  position: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: -100%;
  transition: left 0.3s ease-in-out;
}
#imgOpen.active {
  left: 0;
}
#imgOpen.active .bg {
  background-color: rgba(0, 0, 0, 0.65);
}
#imgOpen .bg {
  transition: background-color 0.5s ease-in-out;
  width: 100%;
  z-index: 101;
  height: 100%;
  position: absolute;
}
#imgOpen img {
  width: calc(100% - 2rem);
  max-width: 992px;
  z-index: 102;
  height: fit-content;
  object-fit: contain;
  position: relative;
}

#modelo__info {
  padding: 3rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
}
#modelo__info .body p {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
#modelo__info .body h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
#modelo__info .body .caracteristicas .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
#modelo__info .body .caracteristicas .row div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
#modelo__info .body .caracteristicas .row div:first-child {
  width: 85%;
  justify-items: start;
}
#modelo__info .body .caracteristicas .row div:last-child {
  width: 15%;
  justify-items: end;
}
#modelo__info .body .caracteristicas .row div .name {
  font-size: 1.5rem;
  margin: 0;
}
#modelo__info .body .caracteristicas .row div .value {
  font-size: 1.5rem;
  font-weight: 300;
  color: #000000;
  margin: 0;
}
#modelo__info .body .caracteristicas .row div .value.price {
  color: #00B912;
  font-weight: 400;
}
#modelo__info .body a {
  width: 100%;
  padding: 1rem 0;
  background-color: #25D366;
  border: none;
  color: #ffffff;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
#modelo__info .body a:hover {
  cursor: pointer;
  background-color: #17b652;
}
#modelo__info .body a i {
  font-size: 2rem;
  margin-right: 1rem;
}
#modelo__info .img__container {
  width: 100%;
}
#modelo__info .img__container .swiper {
  width: 100%;
  height: 300px;
}
#modelo__info .img__container .swiper .swiper-wrapper {
  width: auto;
}
#modelo__info .img__container .swiper .swiper-wrapper .swiper-slide {
  width: auto;
  position: relative;
  overflow: hidden;
}
#modelo__info .img__container .swiper .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
#modelo__info .img__container .swiper .swiper-wrapper .swiper-slide button {
  position: absolute;
  bottom: -70px;
  left: 0;
  width: 100%;
  height: 70px;
  padding-bottom: 30px;
  transition: bottom 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  color: #ffffff;
  cursor: pointer;
}
#modelo__info .img__container .swiper .swiper-wrapper .swiper-slide button:hover {
  color: #0466C8;
}
#modelo__info .img__container .swiper .swiper-wrapper .swiper-slide:hover button {
  bottom: 0;
}
@media (min-width: 870px) {
  #modelo__info {
    flex-direction: row;
    justify-content: space-between;
    padding: 5rem 1rem;
  }
  #modelo__info .img__container .swiper {
    width: 100%;
    max-width: 489px;
    height: 400px;
  }
  #modelo__info .body {
    width: 100%;
    max-width: 489px;
    padding-right: 2rem;
  }
  #modelo__info .body p {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  #modelo__info .body h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  #modelo__info .body .caracteristicas .row {
    margin-bottom: 2rem;
  }
  #modelo__info .body button {
    font-size: 1.3rem;
  }
}

#modelo__features {
  background-color: #DCDFE5;
  overflow-x: hidden;
}
#modelo__features .container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}
#modelo__features .container .body {
  padding: 1rem;
  background-color: #001845;
}
#modelo__features .container .body div {
  margin-bottom: 2rem;
}
#modelo__features .container .body div p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 1rem;
}
#modelo__features .container .body div .text {
  font-size: 1.3rem;
  font-weight: 400;
  color: #DCDFE5;
  margin: 0;
}
#modelo__features .container .img {
  width: 100%;
}
#modelo__features .container .img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
@media (min-width: 768px) {
  #modelo__features .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    padding: 5rem 0;
  }
  #modelo__features .container .img {
    width: 100%;
    max-width: 489px;
  }
  #modelo__features .container .img img {
    height: 100%;
  }
  #modelo__features .container .body {
    width: 100%;
    max-width: 461px;
  }
  #modelo__features .container .body div p {
    font-size: 2rem;
  }
  #modelo__features .container .body div .text {
    font-size: 1.3rem;
  }
}

#proyectos {
  background-color: #ffffff;
  padding: 0 1rem;
}
#proyectos .container {
  padding: 5rem 0;
  padding-top: 7rem;
}
#proyectos .container .title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #0466C8;
  margin: 0;
  margin-bottom: 2rem;
}
#proyectos .container h1 {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}
#proyectos .container .card__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
#proyectos .container .card__list .card {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #DCDFE5;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
#proyectos .container .card__list .card:hover .img img {
  opacity: 1;
}
#proyectos .container .card__list .card:hover .img div {
  bottom: -100%;
}
#proyectos .container .card__list .card .img {
  position: relative;
  background-color: #0466C8;
  height: 200px;
  overflow: hidden;
}
#proyectos .container .card__list .card .img img {
  transition: all 0.4s ease-in-out;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
#proyectos .container .card__list .card .img div {
  transition: all 0.4s ease-in-out;
  width: 100%;
  background-color: #0466C8;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}
#proyectos .container .card__list .card .img div p {
  padding: 1rem;
  margin: 0;
}
#proyectos .container .card__list .card .img.proceso {
  background-color: #c9c903;
}
#proyectos .container .card__list .card .img.proceso div {
  background-color: #c9c903;
}
#proyectos .container .card__list .card .img.terminado {
  background-color: #008000;
}
#proyectos .container .card__list .card .img.terminado div {
  background-color: #008000;
}
#proyectos .container .card__list .card .body {
  padding: 1rem;
}
#proyectos .container .card__list .card .body h2 {
  color: #0466C8;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 1rem;
}
#proyectos .container .card__list .card .body h3 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 2rem;
}
#proyectos .container .card__list .card .body .caracteristicas {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#proyectos .container .card__list .card .body .caracteristicas div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
#proyectos .container .card__list .card .body .caracteristicas div i {
  margin-right: 1rem;
  color: #ABABAB;
}
#proyectos .container .card__list .card .body .caracteristicas div p {
  margin: 0;
}
@media (min-width: 768px) {
  #proyectos .container .title {
    font-size: 3rem;
  }
  #proyectos .container h1 {
    margin-bottom: 2rem;
  }
  #proyectos .container .card__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

#nosotros__header {
  width: 100%;
  height: 300px;
  background-image: url("../../img/img-civita-header01.jpg");
  background-size: cover;
  background-position: center;
}

#nosotros__info {
  padding: 0 1rem;
}
#nosotros__info .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 0;
}
#nosotros__info .container .body {
  width: 100%;
}
#nosotros__info .container .body div {
  margin-bottom: 2rem;
}
#nosotros__info .container .body div .title {
  font-size: 2rem;
  font-weight: 600;
  color: #0466C8;
  margin: 0;
  margin-bottom: 1rem;
}
#nosotros__info .container .body div .text {
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
}
#nosotros__info .container .img {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#nosotros__info .container .img img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}
@media (min-width: 768px) {
  #nosotros__info .container {
    flex-direction: row;
    padding: 5rem 0;
  }
}

#nosotros__features {
  background-color: #DCDFE5;
  padding: 3rem 1rem;
}
#nosotros__features .container .title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #0466C8;
  text-align: center;
  margin-bottom: 2rem;
}
#nosotros__features .container .container__cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
#nosotros__features .container .container__cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#nosotros__features .container .container__cards .card i {
  font-size: 4rem;
  color: #0466C8;
  margin-bottom: 1rem;
}
#nosotros__features .container .container__cards .card p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
#nosotros__features .container .container__cards .card h3 {
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
}
@media (min-width: 768px) {
  #nosotros__features {
    padding: 5rem 1rem;
  }
  #nosotros__features .container .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }
  #nosotros__features .container .container__cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #nosotros__features .container .container__cards .card p {
    font-size: 1.5rem;
  }
  #nosotros__features .container .container__cards .card h3 {
    font-weight: 400;
    font-size: 1.3rem;
  }
}

#prueba {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}
#prueba div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0466C8;
  width: 100%;
  max-width: 768px;
  padding: 5rem 1rem;
  border-radius: 10px;
  gap: 1rem;
  color: #ffffff;
  flex-direction: column;
  line-height: 40px;
}
#prueba div h1 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
#prueba div i {
  font-size: 2rem;
}
@media (min-width: 400px) {
  #prueba div {
    flex-direction: row;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  line-height: 25px;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

.container__lg {
  width: 100%;
  max-width: 992px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
