@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './base/colors';
@import './base/extend';
@import './components/menu';
@import './components/inicio';
@import './components/header';
@import './components/nosotros';
@import './components/modelos';
@import './components/footer';
@import './components/modelo_header';
@import './components/modelo_features';

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    height: 200vh;
}

html{
    font-size: 14px;
    scroll-behavior: smooth;

}

.container__lg{
    width: 100%;
    max-width: 992px;
    margin: auto;
}