
#media{
    position: relative;

    #fixed__media{
        cursor: pointer;
        position: fixed;
        bottom: 2rem;
        right: 0;
        background-color: #25D366;
        border-top-left-radius: 40%;
        border-bottom-left-radius: 40%;
        z-index: 200;
        .icono{
            color: $color-white;
            padding: 1rem;
            padding-right: 2rem;
            font-size: 2rem;
            animation-name: whatsapp;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }
        &:hover{
            .icono{
                padding-right: 3rem;
            }
        }

    
        @media (min-width: 768px) {
            bottom: 5rem;
            .icono{
                font-size: 2.6rem;
                padding: 1.5rem;
                padding-right: 4rem;
            }
        }
    
        @keyframes whatsapp {
            0%{
                padding-right: 2rem;
            }
            10%{
                padding-right: 2rem;
            }
            20%{
                padding-right: 2rem;
            }
            30%{
                padding-right: 2rem;
            }
            40%{
                padding-right: 2rem;
            }
            50%{
                padding-right: 3rem;
            }
            60%{
                padding-right: 2rem;
            }
            70%{
                padding-right: 2rem;
            }
            80%{
                padding-right: 2rem;
            }
            90%{
                padding-right: 2rem;
            }
            100%{
                padding-right: 2rem;
            }
        }
    }

    .container{
        position: fixed;
        right: -100%;
        z-index: 410;
        transition: right .4s ease-in-out;
        .xmark{
            padding: 1rem;
            font-size: 2rem;
            color: #b92020;
            display: none;
        }

        ul{
            margin: 0;
            padding: 0;
            list-style: none;
            width: auto;
            height: calc(100% - 56px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 1rem;
            display: none;
            li{
                width: 100%;
                .button{
                    cursor: pointer;
                    width: 100%;
                    padding: .5rem 1rem;
                    font-size: 1.3rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    border: none;
                    margin: 0.5rem 0;
                    box-sizing: border-box;
                    text-decoration: none;

                    &:hover{
                        filter: brightness(110%);
                    }
                }
                &:nth-of-type(1){
                    .button{
                        background-color: #25D366;
                        border-radius: 5px;
                        color: $color-white;
                    }
                }
                &:nth-of-type(2){
                    .button{
                        background-color: #b92020 ;
                        border-radius: 5px;
                        color: $color-white;
                    }
                }
                &:nth-of-type(3){
                    .button{
                        background-color: #C13584 ;
                        border-radius: 5px;
                        color: $color-white;
                    }
                }
            }
        }
    }
    .bg{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: $color-black-3;
        top: 0;
        left: 0;
        z-index: 400;
        display: none;
    }

    &.active{
        .container{
            bottom: 0;
            right: 0;
            width: 200px;
            height: 100vh;
            background-color: $color-gray-1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            .icono{
                display: none;
            }

            .xmark{
                display: block;
            }

            ul{
                display: flex;
            }
        }

        .bg{
            display: block;
        }
    }


}