#fixed__media{
    position: fixed;
    z-index: 200;
    bottom: 2rem;
    right: 0;
    background-color: #25D366;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    i{
        color: $color-white;
        padding: 1rem;
        padding-right: 2rem;
        font-size: 2rem;
        transition: all .3s ease-in-out;
        animation-name: whatsapp;
        animation-duration: .3s;
        animation-delay: 5s;
    }

    &:hover{
        i{
            padding-right: 3rem;
        }
    }

    @media (min-width: 768px) {
        bottom: 5rem;
        i{
            font-size: 2.6rem;
            padding: 1.5rem;
            padding-right: 4rem;
        }
    }

    @keyframes whatsapp {
        0%{
            padding-right: 2rem;
        }
        100%{
            padding-right: 3rem;
        }
    }
}