
#menu{
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    box-sizing: border-box;
    z-index: 300;
    
    

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        .container__logo{
            position: relative;
            top: -100%;
            div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: $color-white;

                .title{
                    font-size: 2rem;
                    margin: 0;
                }
                .subtitle{
                    font-size: 0.4rem;
                    margin: 0;
                }
            }
        }
        
        .container__links{
            
            .bg{
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $color-black-3;
                display: none;
            }
            .links{
                position: absolute;
                top: 0;
                right: -100%;
                background-color: $color-blue-2;
                width: 60%;
                height: 100vh;
                transition: right .4s ease-in-out;

                #button__xmark{
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    font-size: 2rem;
                    color: $color-white;
                    cursor: pointer;
                    &:hover{
                        color: rgb(255, 0, 0);
                    }
                }
                .links__list{

                    width: 100%;
                    height: 100%;
                    list-style: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    li{
                        width: 100%;
                        a{
                            text-align: center;
                            padding: 1.5rem;
                            display: block;
                            text-decoration: none;
                            color: $color-white;
                            &:hover{
                                background-color: $color-black-3;

                            }
                        }

                        .dropdown{
                            width: 100%;
                            height: 100%;
                            list-style: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            margin: 0;
                            padding: 0;
                            .button{
                                color: $color-white;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 100%;
                                p{
                                    padding: 1.5rem 0;
                                    padding-right: .8rem;
                                    display: block;
                                    margin: 0;
                                }
                            }

                            
                            ul{
                                width: 100%;
                                height: 100%;
                                max-height: 0;
                                overflow-y: hidden;
                                list-style: none;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                flex-direction: column;
                                margin: 0;
                                padding: 0;
                                background-color: $color-blue-1;
                                transition: all .4s ease-in-out;
                            }

                            &:hover{
                                ul{
                                    max-height: 400px;
                                }
                            }
                        }
                    }
                }
            }
        }

        #button__bars{
            
            font-size: 2rem;
            color: $color-white;
            cursor: pointer;
        }
    }

    &.active{
        .container__links{
            .bg{
                display: block;
            }
            .links{
                right: 0;
            }
        }
    }

    &.bg__dark, &.bg__dark--fixed{
        background-color: $color-black-3;
        .container__logo{
            top: 0;
            transition: all .3s ease-in-out;

        }
    }

    @media (min-width: 768px) {
        height: 70px;
        .container{
            .container__logo{
                div{
                    .title{
                        font-size: 2.5rem;
                    }
                    .subtitle{
                        font-size: 0.5rem;
                    }
                }
            }
            
            .container__links{
                
                justify-content: flex-end;
                .bg{
                    display: none;
                }
                .links{
                    right: 0;
                    position: relative;
                    background-color: transparent;
                    width: fit-content;
                    height: 100%;
                    .links__list{
                        flex-direction: row;
                        li{
                            width: fit-content;
                            a{
                                padding: 0;
                                margin: 0 1rem;
                                &:hover{
                                    text-decoration: underline;
                                    background-color: transparent;

                                }
                            }

                            .dropdown{
                                width: 100%;
                                position: relative;
                                .button{
                                    width: fit-content;
                                    margin: 0 1rem;
                                }
                                ul{
                                    top: 108%;
                                    left: 0;
                                    position: absolute;
                                    height: 150px;
                                    width: 200px;
                                    background-color: $color-black-3;
                                    li{
                                        width: 100%;
                                        a{
                                            padding: .5rem 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            #button__bars{
                display: none;
            }
            #button__xmark{
                display: none;
            }
        }
    
    }
}