

$color-white: #ffffff;
$color-blue-1: #001845;
$color-blue-2: #0466C8;
$color-gray-1: #DCDFE5;
$color-gray-2: #ABABAB;
$color-black-1: #000000;
$color-black-2: #2F2F2F;
$color-black-3: rgba(0, 0, 0, 0.65);
